/* Note.module.css */
.note {
    width: 100%;
    max-width: 200px;
    background-color: #222;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 16px;
    position: relative;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    flex-wrap: wrap; /* Adiciona quebra de linha */
}

.note div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .note a {
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #3B82F6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
